<!DOCTYPE html>
<html>
 
<head>
    <title>Chat bot</title>
</head>

<body>
    {% include 'nav.html' %}

    {% block content %}
    {% endblock %}

    <h1>BOT</h1>
    <div>
        <p>Welcome to the chatbot!</p>
        <p>You can ask the bot about likes, dislikes, what the bots name is, what is on the restaurant menu, the working hours of the establishment?</p>

    </div>

    <div>
        <form action = "http://localhost:5000/bot" method = "post">
           <p>Ask me something:</p>
           <p><input type = "text" name = "nm" /></p>
           <p><input type = "submit" value = "submit" /></p>
        </form> 
        <h4>Bot says: {{name}}</h4>
    </div> 
 
</body>
 
</html>
